<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

  <body>
    <header>
        <h1 class="appTitle">Weather App</h1>
    </header>

    <div class="formWrapper">
        <form method="POST" action="/searchcity" id="searchCityForm">
            <div class="formInputWrapper">
                <button id="currLocationBtn"><span class="material-icons">my_location</span></button>
                <input type="text" name="searchCity" id="searchCity" placeholder="Search City" required>
                <input type="text" name="searchCountry" id="searchCountry" placeholder="US" maxlength="2" size="1" value="US" required>
            </div>
            <div class="searchResultsWrapperMain">
                <div class="searchResultsWrapper">
                    <ul id=citySearchResults></ul>
                    <ul id="countrySearchResults"></ul>
                </div>
            </div>
        </form>
        
        
    </div>



    <!-- if API call error, or any errors happened-->
    <p id="errorMessage" style="text-align: center;"></p>

    <!-- div will display all weather information for selected city-->
    <div class="dataWrapperMain">
        <div id="dataWrapper">
            <p id="city"></p>
            <img id="weatherImg">
            <p id=temp></p>
            <button id="tempUnit">F/C</button>
        </div>
    </div>

    <footer>
        <div class="footerWrapper">
            <div class="footerBottom" style="text-align: center;">Weather App</div>
        </div>
    </footer>

  </body>
</html>

<!---------------------------- Start Javascript ------------------------------>

<!-- code block handles city and country search -->
<script type="module">

    import queryCity from "./jsmodules/querycity.js";
    import queryCountry from "./jsmodules/querycountry.js";

    var xhr = new XMLHttpRequest();
    let textInput = document.getElementById('searchCity');
    let searchList = document.getElementById('citySearchResults');
    let countryInput = document.getElementById('searchCountry');
    let countryList = document.getElementById('countrySearchResults');
    let reAlpha = /^[a-z]+$/i;
    
    // Search city text input
    document.getElementById('searchCity').addEventListener('input', (event) => {

        // only letters a-z will trigger database query
        if(reAlpha.test(event.data)) {
            queryCity(xhr, textInput, countryInput, searchList);
        }
        return;
    });

    // Search country text input
    document.getElementById('searchCountry').addEventListener('input', (event) => {
        
        // remove search list for cities
        clearSearchResults(searchList)

        // only letters a-z will trigger database query
        if(reAlpha.test(event.data)) {
            queryCountry(xhr, countryInput, countryList, searchList);
        };
    });

</script>

<!-- Function removes search result list from the DOM -->
<script>
    let clearSearchResults = (list) => {

        // check to see if DOM list of cities contains anything, if so, remove them
        if(list.childElementCount > 0) {
            let first = list.firstElementChild;
            while(first) {
                first.remove();
                first = list.firstElementChild;
            };
        };
    };
</script>

<!--------------- API call and display weather results ---------------->
<script>
    // variables for view data
    let errorMessage = document.getElementById('errorMessage');
    let city = document.getElementById('city');
    let temp = document.getElementById('temp');
    let dataWrapper = document.getElementById('dataWrapper');
    let weatherImg = document.getElementById('weatherImg');
    let fah;
</script>

<!-- Function converts temp between fah/cel with button -->
<script>
    let convertTemp = (kelvin) => {

    // For celcius
    if(fah) {
        fah = false;
        temp.textContent = Math.round(kelvin - 273.15) + " C"; 
    }

    // For fahrenheit
    else {
        fah = true;
        temp.textContent = Math.round((kelvin - 273.15) * 1.8 + 32) + " F"; 
    };
};
</script>


<!-- Function displays city weather to the DOM -->
<script>
    //TODO: display more data. e.g. high and low temp, wind, sunrise/sunset times
    let displayData = (data) => {
    console.log(data)
    // show the data div index.html
    dataWrapper.style.display = "flex";

    city.textContent = data.name;
    weatherImg.src = `http://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png`;

    // default display temp in fahrenheit
    fah = false;
    convertTemp(data.main.temp);
    
    // toggle temp unit
    document.getElementById('tempUnit').onclick = () => {

        convertTemp(data.main.temp);      
    };
};
</script>

<!-- function makes api call to get weather data -->
<script>
    async function fetchApi(e) {

        // get input from the form
        let cityId = e.target.dataset.cityid;

        // api call
        let response = await fetch(`https://api.openweathermap.org/data/2.5/weather?id=${cityId}&appid=65388c50a787be295df1ae5b1f2c37ea`, {mode: 'cors'});
        let data = await response.json();

        // handle errors
        if(!response.ok) {
            errorMessage.textContent = data.message;
            dataWrapper.style.display = "";
            searchCity.value = "";
            // TODO send error message to DOM
            return;
        };
        
        searchCity.value = ""
        return(displayData(data))
    };
</script>
