<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/style.css"> -->
</head>

  <body>
    <h2>Weather App</h2>
    <div class="formWrapper">
      <form method="POST" action="/searchcity" id="searchCityForm">
          <input type="text" name="searchCity" id="searchCity" placeholder="Search City" required>
          <button type="submit" id="submit"><i class="material-icons">search</i></button>
      </form>
  </div>

  <ul id=liveSearchResults>
    
  </ul>

  <p id="errorMessage" style="text-align: center;"></p>

  <!-- div will display all weather information for selected city-->
  <div id="dataWrapper">
      <p id="city"></p>
      <img id="weatherImg">
      <p id=temp></p>
      <button id="tempUnit">F/C</button>
  </div>
    
  </body>
</html>

<script>

  let textInput = document.getElementById('searchCity');
  let searchList = document.getElementById('liveSearchResults');
  let reAlpha = /^[a-z]+$/i;
  var xhr = new XMLHttpRequest();

  // event listener to detect any changes in input text field
  document.getElementById('searchCity').addEventListener('input', (event) => {

    // only letters a-z will trigger database query
    if(reAlpha.test(event.data)) {
        
        xhr.open("POST", '/searchcity', true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        
        // if a POST request
        xhr.onreadystatechange = function() { // Call a function when the state changes.

            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {

                // check to see if DOM list of cities contains anything, if so, remove them
                if(searchList.childElementCount > 0) {
                    let first = searchList.firstElementChild;
                    while(first) {
                        first.remove();
                        first = searchList.firstElementChild;
                    };
                };

                // the returned object(s) from the database query
                let cityObjs = JSON.parse(xhr.responseText);

                // check if cityObjs has anything to display
                if(cityObjs.length > 0) {
                
                    for(let i = 0; i < cityObjs.length; i++) {
                        
                        let li = document.createElement('li');
                        li.textContent = cityObjs[i].name;
                        searchList.appendChild(li);
                    };
                };
            };
        };

        // send POST request with value of text input for database query
        // TODO: filter out every character except a-z and white space
        xhr.send("searchCity=" + textInput.value);
    }
    
    return;
});

</script>


