/*mobile first*/

* {
    box-sizing: border-box;
    margin: 0px;
    /*univeral fluid text size*/
    font-size: 1.1875rem;
    font-size: clamp(1.1875rem, 1.175rem + 0.0625vw, 1.25rem);
}
* body {
    overflow-x: hidden;
    min-height: 100vh;
}
/* search */
.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#searchCityForm {
    display: inline-flex;
    justify-content: center;
    
}

#currLocationBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#searchCity {
    width: 70%;
}
#searchCountry {
    width: 44px;
}
#citySearchResults , #countrySearchResults {
    padding: 0;
    list-style: none;
}

/* weather results */
#dataWrapper {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}